:root {
  scroll-behavior: auto;
}
body {
  padding-top: 66.5px;
}
.dark {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
button {
  border: none;
}
.alert-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
}
.show {
  display: block;
}
.btn-red {
  background-color: tomato;
  border: none;
}
.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in;
}

.white-bg {
  width: 95%;
  top: -140px;
  position: fixed;
  background: white;
  border-radius: 5px;
  padding: 30px;
  transition: all 0.25s ease-in;
}
.show-modal {
  visibility: visible;
  opacity: 1;
}
.show-modal > .white-bg {
  top: 30px;
}

.list-group {
  height: 0px;
  visibility: hidden;
  transition: all 0.5s ease-in;
  overflow: hidden;
  position: fixed;
  width: 50%;
  right: 0;
  z-index: 4;
}
.show-list {
  visibility: visible;
  height: 212px;
}
.main-bg {
  padding: 30px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.05);
}
.badge {
  margin-right: 15px;
}
.font-black {
  color: black;
}
.question-container {
  width: fit-content;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 30px;
}
#send-answer {
  background-color: tomato;
  border-radius: 5px;
  color: white;
}
.slide-div {
  overflow-x: hidden;
  position: relative;
}
.slide-container {
  width: 300vw;
  transition: all 1s ease-in-out;
}
.slide-box {
  width: 100vw;
  float: left;
}
.slide-box img {
  width: 100%;
}

.side-button-container {
  position: absolute;
  z-index: 2;
}
.side-button-con-left {
  left: 5px;
  top: 50%;
}
.side-button-con-right {
  right: 5px;
  top: 50%;
}
.side-button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  border: none;
}
.bottom-buttons {
  position: absolute;
  bottom: 0px;
  left: 45%;
}
.bottom-button {
  padding: 3px 10px;
  border-radius: 50%;
}
.slide-1 {
  background-color: tomato;
}
.slide-2,
.slide-3 {
  background-color: gray;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}
.navbar-brand {
  font-size: 27px;
}
.lorem-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.all-read {
  background-color: rgba(0, 0, 0, 0.05);
  margin-left: 30px;
  padding: 10px 20px;
  visibility: hidden;
}
